@import url(./__container/popup__container.css);

@import url(./__heading/popup__heading.css);

@import url(./__input-container/popup__input-container.css);

@import url(./__item/popup__item.css);

@import url(./__saveButton/popup__saveButton.css);

@import url(./__closeButton/popup__closeButton.css);



.popup {
  display: none;

  width:100vw;
  min-height:100vh;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top: 0;
  left: 0;
}
