@import url(./_add/popup__button_add.css);
@import url(./_save/popup__button_save.css);

.popup__button {
  padding: 0;
  margin: 18px 0 0 0;

  width: 358px;
  height: 50.15px;

  border: 0;
  border-radius: 2px;
  outline: none;

  background-color: black;

  position: relative;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}
.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 540px)
{
  .popup__button  {
    margin-left: 30px;
    width: 150px;
  }
}
