.popup__close-button {
  padding: 0;
  margin: 0;

  height: 57.56px;
  width: 57.56px;
  border: 0;
  outline: none;

  background-image: url("../../../images/Close_Icon.svg");
  background-color: transparent;
  background-position: center;

  position: absolute;
  left: 420px;
  top: -50px;

  transition: background-image 0.3s ease-in-out;
}

@media screen and (max-width: 540px)
{
  .popup__close-button  {
    height: 20px;
    width: 20px;
    left: 245px;
    top: -25px;
  }
}

.popup__close-button:hover {
  background-image: url("../../../images/Close_Icon_hover.svg");
  cursor: pointer;
}
