.profile__photo-update-button {
  height: 122px;
  width: 122px;
  border-radius: 100px; /* Радиус скругления */

  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/Pencil_avatar.svg");
  opacity: 0;

  position: absolute;
  left: -1px;
  top: -1px;
  transition: 0.5s opacity, 0.3s background-color ease-in-out;

  cursor: pointer;
}


.profile__photo-update-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.profile__photo-update-button:focus {
  outline: 0;
}

