.header__logo {
  max-height: 33.4px;
  padding-bottom: 40.6px;
}

@media screen and (max-width: 920px)
{
  .header__logo {
    max-height: 24.4px;
    padding-left: 27px;
    padding-bottom: 31.6px;
  }
}
