.profile__add-button {
  height: 50px;
  width: 150px;

  padding: 0;
  margin: 0;

  border: 0;
  outline: 1px white solid;

  box-sizing: border-box;
  background-color: black;
  background-image: url("../../../images/plus-add.svg");
  background-repeat: no-repeat;
  background-position: center;

  align-self: center;
  justify-self: right;

  grid-column-start: -1;
  transition: 0.3s background-image, 0.3s outline-color ease-in-out;
}

.profile__add-button:hover {
  outline: 1px gray solid;
  background-image: url("../../../images/plus-add-hover.svg");
  cursor: pointer;
}


@media screen and (max-width: 920px)
{
  .profile__add-button {
    width: 282px;
  }
}
