.profile__info {
  display: grid;
  padding: 21.5px 0 21.5px 0;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-row-gap: 16px;
  grid-column-gap: 17px;

  grid-template-areas:
  "profile__title profile__editButton"
  "profile__subtitle profile__subtitle"
}

@media screen and (max-width: 920px)
{
  .profile__info {
    grid-row-gap: 14px;
    grid-column-gap: 15px;
    padding: 25px 0 36px 0;
  }
}
