.popup__item {
  border: 0;
  margin: 0 0 29.54px 0;

  width: 358px;
  height: 27.26px;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;

  color: #000000;
}

.popup__item:nth-child(2) {
  margin: 0 0 48px 0;
}

.popup__item:focus {
  outline-color: #fff6c5;
}

@media screen and (max-width: 540px) {
  .popup__item  {
    width: 220px;
  }

  .popup__item:nth-child(2) {
    margin: 0 0 30px 0;
  }
}
