.popup__closeButton {
  padding: 0;
  margin: 0;

  height: 57.56px;
  width: 57.56px;
  border: 0;
  outline: none;

  background-image: url("../../../images/Close\ Icon.png");
  background-color: transparent;
  background-position: center;

  position: absolute;
  left: 420px;
  top: -50px;

  transition: background-image 0.3s ease-in-out;
}

@media screen and (max-width: 540px)
{
  .popup__closeButton  {
    height: 20px;
    width: 20px;
    left: 245px;
    top: -25px;
  }
}

.popup__closeButton:hover {
  background-image: url("../../../images/Close\ Icon_hover.png");
  cursor: pointer;
}
